@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-family: "Roboto", sans-serif;
    /* font-style: normal; */
}


:root {
    --primary-color: #FF8B07;
    --secondary-color: #2378FF;
    --background-color: #F6F8F9;
    --text-muted: #8b9094;

}

.shop {
    color: var(--primary-color);
}

/* header start */
.wrapper {
    height: 100vh;
    width: 100%;
    background: rgb(255, 250, 250);
}

.header {
    padding: 20px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primary-color);
}

.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menuItems a {
    text-decoration: none;
    color: var(--text-muted);
}

.profile {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bi-search {
    padding: 0pc 5px;
}

.searchBox {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
}

.inputSearch {
    border: none;
    padding: 4px;
    background: transparent;
}

.cartBox {
    border: 1px solid gray;
    padding: 4px 10px;
    border-radius: 5px;
}

.bi-bag {
    color: var(--secondary-color);
}

.profileImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* Cart Box start */
.cartWrapper {
    height: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;

}

.left,
.right {
    flex: 1 1 50%;
}

.left>table {
    width: 100%;
    border-spacing: 0 30px;

}

th {
    text-align: left;
    color: var(--text-muted);
}



.hr {
    border-bottom: 1px solid #ccc;
    /* padding: 10px 0; */

}



.qBtn>button {
    background-color: gainsboro;
    padding: 0px 5px;
    margin: 0px 5px;
    border: none;
}


.billingDetails {
    border: 1px solid var(--text-muted);
    padding: 20px 20px;
    width: 80%;
    color: var(--text-muted);
    border-radius: 10px;
}

.billingDetails>h5 {
    padding: 10px 0px;
    color: black;
}

.cBox {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.mb-10 {
    margin-bottom: 10px;
}

.coupenInput {
    width: 60%;
    padding: 10px;
    /* border-color: var(--text-muted); */
    border-radius: 5px;
    border: 1px solid var(--text-muted);
    outline: none;
}

.applyBtn {
    padding: 5px 30px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    color: white;
}

.applyBtn:hover {
    background-color: rgb(79, 79, 221);
}

.total {
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.payNow {
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
    font-size: 20px;
    border: none;

}

.payNow:hover {
    background-color: #d67404;
}

.securePaymentImg {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.securePaymentImg>img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.continueShoping {
    padding: 20px 80px;
}



/* Cart Box End */

/* Media Query */
/* tablet */
@media (max-width: 768px) {


    .menu {
        display: none;
    }

    .profile {
        width: 50%;
    }

    .left>h1 {
        font-size: 3.3rem;
        text-align: left;

    }

    .left>p {
        font-size: 1rem;

    }

    .cartWrapper {
        flex-direction: column;
        margin-top: 20px;
    }

    .billingDetails,
    .payNow,
    .securePaymentImg {
        width: 100%;
    }
}

/* mobile */
@media (max-width:640px) {

    .navbar {
        padding: 0px;
    }

    .menu {
        display: none;
    }

    .profile {
        width: 75%;


    }
}