@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-family: "Roboto", sans-serif;
    /* font-style: normal; */
}

:root {
    --primary-color: #FF8B07;
    --secondary-color: #2378FF;
    --background-color: #F6F8F9;
    --text-muted: #8b9094;

}


/* header start */
.wrapper {
    height: 100vh;
    width: 100%;
    background: rgb(255, 250, 250);
    background: linear-gradient(90deg, rgba(255, 250, 250, 1) 0%, rgba(225, 221, 221, 1) 35%, rgba(187, 99, 4, 0.78) 100%);

    /* padding: 20px 80px; */
}

.header {
    padding: 20px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primary-color);
}

.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}



.menuItems a {
    text-decoration: none;
    color: var(--text-muted);
}

.profile {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bi-search {
    padding: 0pc 5px;
}

.searchBox {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
}

.inputSearch {
    border: none;
    padding: 4px;
    background: transparent;
}

.cartBox {
    border: 1px solid gray;
    padding: 4px 10px;
    border-radius: 5px;
}

.bi-bag {
    color: blue;
}

.profileImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* heroSection start */

.heroSection {
    height: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.left,
.right {
    flex: 1 1 50%;

}

.left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    line-height: 1;
}

.left>img {
    object-fit: contain;
    width: 20%;
}

.left>h1 {
    font-size: 5rem;
    text-align: left;

}

.left>p {
    font-size: 1.2rem;
    text-align: justify;
    width: 70%;
    padding-top: 10px;
}



.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>img {
    max-width: 100%;
}

.shopnow {
    padding: 10px 40px;
    margin-top: 20px;
    background-color: rgb(49, 48, 48);
    color: white;
    border-radius: 20px;
    font-size: 15px;
}

/* heroSection end */
/* header end */

/* Service Overview start */
.serviceOverview {
    height: 15%;
    width: 100%;
    background-color: #D14A06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11%;
}

.ratingIcon {
    font-size: 50px;
    color: white;
}

.col-3 {
    display: flex;
    flex-direction: column;
    color: white;
}

.col-3>span {
    font-weight: 300;
}

/* Service Overview End */

/* media Query */
/* tablet */
@media (max-width: 768px) {
    .heroSection {
        height: 90%;
        padding-top: 60px;
    }

    .menu {
        display: none;
    }

    .profile {
        width: 50%;
    }

    .left>h1 {
        font-size: 3.3rem;
        text-align: left;

    }

    .left>p {
        font-size: 1rem;

    }
}

/* mobile */
@media (max-width:640px) {

    .navbar {
        padding: 0px;
    }

    .menu {
        display: none;
    }

    .profile {
        width: 75%;


    }
}