* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.navBar {
    padding: 30px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.logo {
    color: gray;
    padding: 10px;
    font-size: 20px;
}

.menu>li {
    color: rgb(126, 124, 124);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.userName {
    color: rgb(18, 146, 197);
    background-color: #E7F6FF;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}




.heroSection {
    padding: 10px 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content,
.imgBox {
    flex: 1 1 50%;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content>h1 {
    font-size: 40px;
    font-weight: 900;
    color: #4C5C68;
}

.content>p {
    margin-top: 5px;
    color: gray;
    font-size: 15px;
    line-height: 1.2;
    text-align: justify;
}

.content>button {
    display: inline-block;

    margin-top: 30px;
    background-color: #06A8FF;
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    width: 300px;
    cursor: pointer;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.imgBox>img {
    height: 400px;
    width: 400px;
}

@media (max-width: 768px) {



    .logo {
        font-size: 20px;
    }

    .menu {
        width: 50%;

    }

    .menu>li {
        padding: 10px 0;
    }

    /* HeroSection */
    .content>h1 {
        font-size: 30px;
        font-weight: 900;
        color: #4C5C68;
    }

    .content>p {

        font-size: 15px;
    }

    .content>button {
        padding: 20px 10px;
        font-size: 15px;
        border-radius: 10px;
    }

}

@media (max-width: 640px) {
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo {
        font-size: 25px;
    }

    .menu {
        display: none;

    }

    .userName {
        font-size: 18px;
        font-weight: bold;
    }

    .heroSection {
        padding: 10px 100px;

        flex-wrap: wrap;
    }


}